[submodule "mmsegmentation2"]
	path = mmsegmentation2
	url = https://github.com/open-mmlab/mmsegmentation.git
[submodule "mmsegmentation3"]
	path = mmsegmentation3
	url = https://github.com/open-mmlab/mmsegmentation.git
